html {
    background: black;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
}
body {margin: 0;}
.ball {
    display: block;
    position: absolute;
    content: "";
    background: red no-repeat border-box radial-gradient(rgb(255, 190, 190), transparent);
    background-position: 5px -5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: content-box;
    border: solid 5px black;
    margin-top: -5px;
    margin-left: -5px;
}